<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f10f5ac1-77bf-4a81-b516-62236be1702f/resourcegroups/ChatverseGroup/providers/Microsoft.Web/sites/ChatverseAPI20230909133203</ResourceId>
    <ResourceGroup>ChatverseGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f10f5ac1-77bf-4a81-b516-62236be1702f/resourceGroups/ChatverseGroup/providers/Microsoft.ApiManagement/service/ChatverseAPI/apis/ChatverseAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chatverseapi20230909133203.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>89d25d5c-a10c-4c9d-903a-bcc20c88eb67</ProjectGuid>
    <MSDeployServiceURL>chatverseapi20230909133203.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChatverseAPI20230909133203</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ChatverseAPI20230909133203</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>