@using System.IdentityModel.Tokens.Jwt;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_chatLayout.cshtml";
}
@{
    string accessToken = ViewBag.Token as string;
    var tokenHandler = new JwtSecurityTokenHandler();
    var token = tokenHandler.ReadJwtToken(accessToken);
    string userId = token.Claims.FirstOrDefault(claim => claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
}

<audio id="sentMessageAudio" style="display:none">
    <source src="~/sound/sentmessage.mp3" type="audio/mp3">
</audio>

<audio id="receiveMessageAudio" style="display:none">
    <source src="~/sound/receivermessage.mp3" type="audio/mp3">
</audio>

<audio id="callingMessageAudio" style="display:none">
    <source src="~/sound/calling.mp3" type="audio/mp3">
</audio>

<audio id="acceptingMessageAudio" style="display:none">
    <source src="~/sound/accepting.mp3" type="audio/mp3">
</audio>


<div class="w-100 overflow-hidden position-relative messages-content customMessageContent">
   
  
</div>


<script>
    
    localStorage.setItem("JWToken","@accessToken");
    localStorage.setItem("MyIdentifier","@userId");

</script>

<script src="~/lib/jquery/dist/jquery.min.js"> </script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
