@using Chatverse.UI.ViewModels.Post;
@{
    ViewData["Title"] = "AuthorProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ICollection<GetPostsViewModel>
 <div class="main-content right-chat-active">

            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
                                <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3"><img src="~/chatverse/uitheme.net/sociala/images/u-bg.jpg" alt="image"></div>
                                <div class="card-body p-0 position-relative">
                                    <figure class="avatar position-absolute w100 z-index-1" style="top:-40px; left: 30px;"><img src="~/chatverse/uitheme.net/sociala/images/user-12.png" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                    <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15">Mohannad Zitoun <span class="fw-500 font-xssss text-grey-500 mt-1 mb-3 d-block">support@gmail.com</span></h4>
                             
                                </div>

                                <div class="card-body d-block w-100 shadow-none mb-0 p-0 border-top-xs">
                                    <ul class="nav nav-tabs h55 d-flex product-info-tab border-bottom-0 ps-4" id="pills-tab" role="tablist">
                                        <li class="active list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block active" href="#navtabs1" data-toggle="tab">Main</a></li>
                                        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block" href="#navtabs2" data-toggle="tab">Friends</a></li>
                                        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block" href="#navtabs3" data-toggle="tab">Groups</a></li>
                                        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block" href="#navtabs4" data-toggle="tab">Video</a></li>
                                        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block" href="#navtabs3" data-toggle="tab">Images</a></li>
                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-xxl-3 col-lg-4 pe-0">
                             <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3"></div>
                            <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                                <div class="card-body d-block p-4">
                                    <h4 class="fw-700 mb-3 font-xsss text-grey-900">About</h4>
                                    <p class="fw-500 text-grey-500 lh-24 font-xssss mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus</p>
                                </div>
                                <div class="card-body border-top-xs d-flex">
                                    <i class="feather-lock text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-0">Visibility <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">What's up, how are you?</span></h4>
                                </div>
                        <div class="card-body d-flex pt-0">
                            <i class="feather-eye text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-700 text-grey-900 font-xssss mt-0">Birth Date <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">Anyone can find you</span></h4>
                        </div>
                                <div class="card-body d-flex pt-0">
                                    <i class="feather-map-pin text-grey-500 me-3 font-lg"></i>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">Flodia, Austia </h4>
                                </div>
                        
                            </div>
                            <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                                <div class="card-body d-flex align-items-center  p-4">
                                    <h4 class="fw-700 mb-0 font-xssss text-grey-900">Photos</h4>
                                    <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
                                </div>
                                <div class="card-body d-block pt-0 pb-2">
                                    <div class="row">
                                <div class="col-6 mb-2 pe-1"><a href="~/chatverse/uitheme.net/sociala/~/chatverse/uitheme.net/sociala/images/e-2.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/~/chatverse/uitheme.net/sociala/images/e-2.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                        <div class="col-6 mb-2 ps-1"><a href="~/chatverse/uitheme.net/sociala/images/e-3.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/images/e-3.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                        <div class="col-6 mb-2 pe-1"><a href="~/chatverse/uitheme.net/sociala/images/e-4.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/images/e-4.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                        <div class="col-6 mb-2 ps-1"><a href="~/chatverse/uitheme.net/sociala/images/e-5.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/images/e-5.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                        <div class="col-6 mb-2 pe-1"><a href="~/chatverse/uitheme.net/sociala/images/e-2.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/images/e-2.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                        <div class="col-6 mb-2 ps-1"><a href="~/chatverse/uitheme.net/sociala/images/e-1.jpg" data-lightbox="roadtrip"><img src="~/chatverse/uitheme.net/sociala/images/e-1.jpg" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                                    </div>
                                </div>
                                <div class="card-body d-block w-100 pt-0">
                                    <a href="#" class="p-2 lh-28 w-100 d-block bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> More</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-8 col-xxl-9 col-lg-8">

                    <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3"></div>

                    @await Component.InvokeAsync("CreatePost")
                    @{
                        int count = 1;                    
                    }
                    @foreach(var post in Model)
                    {
                        
                        if(post.Media != null && post.Content != null)
                        {
                            <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                                <div class="card-body p-0 d-flex">
                                    <figure class="avatar me-3"><img src="~/chatverse/uitheme.net/sociala/images/user-7.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">@post.FullName <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">3 hour ago</span></h4>
                                    <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
                                        <div class="card-body p-0 d-flex">
                                            <i class="feather-trash text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Delete <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Delete your post</span></h4>
                                        </div>
                                        <div class="card-body p-0 d-flex mt-2">
                                            <i class="feather-refresh-ccw text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Update <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Update your post</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-0 me-lg-5">
                                    <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">@post.Content</p>
                                </div>
                                <div class="card-body d-block p-0">
                                    <div class="row ps-2 pe-2">
                                        @foreach(var image in post.Media)
                                        {
                                            <div class="col-xs-4 col-sm-4 p-1"><a href="~/chatverse/uitheme.net/sociala/images/t-10.jpg" data-lightbox="roadtrip"><img img src="~/@image" class="rounded-3 w-100" alt="image"></a></div>
                                        }

                                    </div>
                                </div>
                                <div class="card-body d-flex p-0 mt-3">
                                    <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>
                                    <a id="show{@count}"  class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss showComments" style="cursor: pointer;"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span class="d-none-xss">22 Comment</span></a>

                                </div>
                                <div id="commentshow{@count}" style="display:none">
                                    @await Component.InvokeAsync("Comment")
                                </div>
                            </div>
                            count++;
                        }
                        else
                        {
                            <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                                <div class="card-body p-0 d-flex">
                                    <figure class="avatar me-3"><img src="~/chatverse/uitheme.net/sociala/images/user-8.png" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                    <h4 class="fw-700 text-grey-900 font-xssss mt-1">@post.FullName <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">2 hour ago</span></h4>
                                    <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
                                        <div class="card-body p-0 d-flex">
                                            <i class="feather-trash text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Delete <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Delete your post</span></h4>
                                        </div>
                                        <div class="card-body p-0 d-flex mt-2">
                                            <i class="feather-refresh-ccw text-grey-500 me-3 font-lg"></i>
                                            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Update <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Update your post</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-0 me-lg-5">
                                    <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">@post.Content </p>
                                </div>
                                <div class="card-body d-flex p-0">
                                    <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-3 "><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>


                                            <a id="show{@count}" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss showComments" style="cursor: pointer;"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span class="d-none-xss">22 Comment</span></a>

                                 


                                </div>

                                <div id="commentshow{@count}" style="display:none">
                                    @await Component.InvokeAsync("Comment")
                                </div>

                            </div>
                            count++;

                        }
                    }

                        </div>
                    </div>
                </div>

            </div>
 </div>

