<form asp-action="GetComments" asp-controller="Comments">
    <div class="card-body border-top-xs pt-4 pb-3 pe-4 d-block ps-5 commentSection">
        <figure class="avatar position-absolute left-0 ms-2 mt-1"><img src="~/chatverse/uitheme.net/sociala/images/user-6.png" alt="image" class="shadow-smrounded-circle w35"></figure>
        <div class="chat p-3 bg-greylight rounded-xxl d-block text-left theme-dark-bg">
            <h4 class="fw-700 text-grey-900 font-xssss mt-0 mb-1">Victor Exrixon <a href="#" class="ms-auto"><i class="ti-more-alt float-right text-grey-800font-xsss"></i></a></h4>
            <p class="fw-500 text-grey-500 lh-20 font-xssss w-100 mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor.</p>
        </div>
    </div>
</form>
